
<div *ngIf="animal">
    <h2><span jhiTranslate="jhipsterApp.animal.detail.title">Animal</span> {{animal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.animal.name">Name</span></dt>
        <dd>
            <span>{{animal.name}}</span>
        </dd>
    <dt><span jhiTranslate="userManagementZoo">Zoo</span></dt>
        <dd>
            <div *ngIf="animal.zoo">
                <a [routerLink]="['/zoo-management', animal.zoo?.id]">{{animal.zoo?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'animal/'+ animal.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
